csrc/moe/marlin_moe_wna16/kernel_bf16_ku4.cu
csrc/moe/marlin_moe_wna16/kernel_bf16_ku4b8.cu
csrc/moe/marlin_moe_wna16/kernel_bf16_ku8b128.cu
csrc/moe/marlin_moe_wna16/kernel_fp16_ku4.cu
csrc/moe/marlin_moe_wna16/kernel_fp16_ku4b8.cu
csrc/moe/marlin_moe_wna16/kernel_fp16_ku8b128.cu
